.social-media {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 480px) {
    padding-bottom: 24px;
    padding-left: 122px;
    padding-right: 122px;
  }
  
  @media screen and (min-width: 768px) {
    padding-left: 74px;
    padding-right: 74px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  } 
}

.social-media__item {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $white-color;
  border-radius: 50%;
}

.social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px; 

  color: $icon-color;
  border-radius: 50%;

  transition: background-color 250ms $timing-function, color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
  }
} 

.social-media__icon {
  fill: currentColor;
}