.form-footer {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }
  
  @media screen and (min-width: 1200px) {
    max-width: 570px;
  }
}

.form-footer__text {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $white-color;
}