.media-footer {
  display: flex;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

.media-footer__item {
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.media-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
} 

.media-footer__icon {
  fill: $white-color;
}