.page-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
} 

.page-header__nav {
  display: flex;
  align-items: center;
}

.page-header--border {
  border-bottom: 1px solid #ECECEC;
}   

.page-header__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.page-header__button .icon-close {
  display: none;
}

.page-header__button.is-open .icon-close {
  display: block;
}

.page-header__button.is-open .icon-menu {
  display: none;
}