.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-bg-color;
}

.page-footer__box {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.page-footer__thumb {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

.address {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.address__text {
  margin-top: 20px;
  margin-bottom: 9px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: $white-color;
}

.address__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: $secondary-black-color;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.join {
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.join__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14; 
  color: $white-color;
  text-transform: uppercase;
}