.section {
  @media screen and (max-width: 1199px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  
  &--color {
    background-color: $additional-bg-color;
  }

  &--top {
    padding-top: 0;
  }

  &--hide {
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }
}

.section__title {
  color: $title-text-color;
  font-weight: 700;
  text-align: center;

  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
    
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}